@import url(https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/* label color */
.input-field label {
  color: #D50000;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #D50000;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #D50000;
  box-shadow: 0 1px 0 0 #D50000;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #D50000;
  box-shadow: 0 1px 0 0 #D50000;
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #D50000;
  box-shadow: 0 1px 0 0 #D50000;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #D50000;
}

/* FAB icons alignment */
.actions {
  text-align: right;
}
.actions .btn-floating {
  margin-left: 0.5em;
}

/* dialog styles */
.dialog .modal {
  display: block;
  top: 25%;
  z-index: 9999;
}
.dialog .lean-overlay {
  display: block;
  opacity: 0.5;
}
